body {
    margin: 0;
    padding: 0;
}
#wrapper{
    /*padding-top: 60px;*/
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00ff21;*/
}

.step{
    background-color: #b6ff00;
    margin: 3px;
}
.step_title{
    background-color: #00ff90;
    margin: 3px;
}
.input_date{
    margin: 0 auto;
    width: 500px;
    height: 50px;
    border: 2px solid #808080;
}
.items{
    display: inline-block;
}
.inputs{
    display: inline-block;
}
