body {
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 600px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid #808080;
}

.step{
    margin: 0 auto;
    width: 500px;
    padding: 10px;
}
.step_title{
    margin: 0 auto;
    width: 500px;
    padding: 10px;
}
.input_date{
    margin: 0 auto;
    width: 500px;
    height: 50px;
}
.items{
    display: inline-block;
    width: 100px;
}
.inputs{
    display: inline-block;
}
.entry{
    margin: 0 auto;
    width: 300px;
}
#entry-button{
    border: 0;
    padding: 10px;
    color: #000;
    border: solid 1px #ccc;
    margin: 0 0 20px;
    width: 300px;
}
.next_link{
    margin: 0 auto;
    width: 300px;
    padding: 15px;
}
.next_link_button{
    text-decoration: none;
    padding: 10px;
    color: #000;
    border: solid 1px #ccc;
}
.next_link_button a{
    display: block;
    margin: 10px;
}

.items_user{
    display: inline-block;
    width: 180px;
}
