body {
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 600px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid #808080;
}

.step{
    margin: 0 auto;
    width: 500px;
}
.step_title{
    margin: 0 auto;
    width: 500px;
}
.input_date{
    margin: 0 auto;
    width: 500px;
    height: 50px;
}
.items{
    display: inline-block;
    width: 100px;
}
.inputs{
    display: inline-block;
}
